<h1>Storage Organizer</h1>
<div class = "container">
	<div class = "content">
		<a href="http://localhost:3000/storage_containers" id="containers">Storage Containers</a>
		<a href="http://localhost:3000/items" id="items">Items</a>
	</div>
</div>