<h1>New StorageContainer</h1>

<%= form_for(@storage_container) do |f| %>
	<%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<br />
	<div id="item_list"></div>
	<button id="add_items" type="button" onclick="addItemField()">Add Item</button>
	<br />
	<%= f.submit "Create Storage Container" %>
<% end %>
